<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lightcone.themesdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Help"
            android:label="Help" >
        </activity>
        <activity
            android:name=".Prefs"
            android:label="Prefs"
            >
        </activity>
        <activity
            android:name=".DisplayItems"
            android:label="Display Item Choices" >
        </activity>
        <activity
            android:name=".About"
            android:label="About" >
        </activity>
        <activity
            android:name=".TaskActivity1"
            android:label="Task: Activity 1" >
        </activity>
        <activity
            android:name=".TaskActivity2"
            android:label="Task: Activity 2" >
        </activity>
    </application>

</manifest>